{% extends "base.html" %}

{% block title %}
Global Attack Map
{% endblock %}

{% block content %}

<link
rel="stylesheet"
href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>

<script
src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
</script>

<style>

#map{
height:700px;
width:100%;
border-radius:18px;
box-shadow:0 5px 20px rgba(0,0,0,0.4);
}

.map-card{
background:#1e293b;
padding:25px;
border-radius:18px;
}

</style>

<div class="container-fluid">

<h1 class="mb-4 fw-bold">
🌍 Global Cyber Attack Map
</h1>

<div class="map-card">

<div id="map"></div>

</div>

</div>

<script>

const map = L.map('map').setView([20,0],2);

L.tileLayer(
'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
{
attribution:'OpenStreetMap'
}
).addTo(map);

const attacks = {{ attacks|tojson }};

attacks.forEach(attack => {

    let color = "red";

    if(attack.severity === "High"){
        color = "orange";
    }

    if(attack.severity === "Medium"){
        color = "yellow";
    }

    L.circleMarker(
        [attack.lat, attack.lon],
        {
            radius:12,
            color:color,
            fillColor:color,
            fillOpacity:0.7
        }
    )
    .addTo(map)
    .bindPopup(
        `
        <b>Country:</b> ${attack.country}<br>
        <b>IP:</b> ${attack.ip}<br>
        <b>Severity:</b> ${attack.severity}
        `
    );

});

</script>

{% endblock %}